apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: jqmt
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-vsrs-tenant/byoc-app-unaa/jqmt@sha256:9bcdce8178abe8ada61e4caa8cb256da0baa48ba2e3a4d4a8f1b88ee27765c5e
        name: my-java-quarkus
        resources: {}
status: {}
