apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: jqmt
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: jqmt
    app.kubernetes.io/part-of: byoc-app-unaa
  name: jqmt
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: jqmt
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: jqmt
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-vsrs-tenant/byoc-app-unaa/jqmt@sha256:9bcdce8178abe8ada61e4caa8cb256da0baa48ba2e3a4d4a8f1b88ee27765c5e
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
